@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hero Section Zoom Animation */
@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}

.zoom-anim {
  animation: zoom 20s ease-in-out infinite alternate;
}